<%= form_for User.find(session[:user_id]).relationships.
                          build(:match_id => @user.id) do |f| %>
  <div><%= f.hidden_field :match_id %></div>
  <%= f.button "Add", :class => 'btn btn-success btn-mini' %>
<% end %>

