<%= form_for @current_user.relationships.
                          build(:match_id => @current_user.id) do |f| %>
  <div><%= f.hidden_field :match_id %></div>
  <%= f.button "Add", :class => 'btn btn-success btn-mini' %>
<% end %>

