  <div id="login">
  	<h3>Login</h3>
    <%= render( :partial => 'sessions/login' ) %>  
  </div>
  
  <%= error_messages_for( @user ) %>  
	<h3>Register</h3>
    <div class="signup">
      <%= render( :partial => 'users/sign_up' ) %>
    </div>