<% if !@user.nil? and @user.errors.any? %>
    <div class="error">
      <h2 class='loud'>Oops!</h2>
        <%= pluralize(@user.errors.count, "problem") %>
            were found: 
      </h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>